.table-container {
    margin: 30px;
}

.table-row:hover { 
   background: lightgray; 
   cursor: pointer;
}

#driver-img {
    width: 200px;
    height: 200px;
}

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    color: darkblue;
    text-decoration: underline;
}